<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Players - IPL 2024</title>
</head>

<body>

    <h1>Team Players - IPL 2024</h1>

    <ul>
        <li>MS Dhoni (c)</li>
        <li>Moeen Ali</li>
        <li>Deepak Chahar</li>
        <li>Devon Conway</li>
        <li>Tushar Deshpande</li>
        <li>Shivam Dube</li>
        <li>Ruturaj Gaikwad</li>
        <li>Rajvardhan Hangargekar</li>
        <li>Ravindra Jadeja</li>
        <li>Ajay Mandal</li>
        <li>Mukesh Choudhary</li>
        <li>Matheesha Pathirana</li>
        <li>Ajinkya Rahane</li>
        <li>Shaik Rasheed</li>
        <li>Mitchell Santner</li>
        <li>Simarjeet Singh</li>
        <li>Nishant Sindhu</li>
        <li>Prashant Solanki</li>
        <li>Maheesh Theekshana</li>
        <li>Rachin Ravindra</li>
        <li>Shardul Thakur</li>
        <li>Daryl Mitchell</li>
        <li>Sameer Rizvi</li>
        <li>Mustafizur Rahman</li>
        <li>Avanish Rao Aravelly</li>
    </ul>
    <h3><a href="{%url 'home'%}">click</a> here for back to main menu</h3>

</body>

</html>
