<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Players - IPL 2024</title>
</head>

<body>

    <h1>Team Players - IPL 2024</h1>

    <ul>
        <li>Rishabh Pant (c)</li>
        <li>Pravin Dubey</li>
        <li>David Warner</li>
        <li>Vicky Ostwal</li>
        <li>Prithvi Shaw</li>
        <li>Anrich Nortje</li>
        <li>Abishek Porel</li>
        <li>Kuldeep Yadav</li>
        <li>Axar Patel</li>
        <li>Lungi Ngidi</li>
        <li>Lalit Yadav</li>
        <li>Khaleel Ahmed</li>
        <li>Mitchell Marsh</li>
        <li>Ishant Sharma</li>
        <li>Yash Dhull</li>
        <li>Mukesh Kumar</li>
        <li>Harry Brook</li>
        <li>Tristan Stubbs</li>
        <li>Ricky Bhui</li>
        <li>Kumar Kushagra</li>
        <li>Rasikh Dar</li>
        <li>Jhye Richardson</li>
        <li>Sumit Kumar</li>
        <li>Shai Hope</li>
        <li>Swastik Chhikara</li>
    </ul>
    <h3><a href="{%url 'home'%}">click</a> here for back to main menu</h3>
</body>

</html>
