<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Players - IPL 2024</title>
</head>

<body>

    <h1>Team Players - IPL 2024</h1>

    <ul>
        <li>David Miller</li>
        <li>Shubman Gill (c)</li>
        <li>Matthew Wade</li>
        <li>Wriddhiman Saha</li>
        <li>Kane Williamson</li>
        <li>Abhinav Manohar</li>
        <li>B. Sai Sudharsan</li>
        <li>Darshan Nalkande</li>
        <li>Vijay Shankar</li>
        <li>Jayant Yadav</li>
        <li>Rahul Tewatia</li>
        <li>Mohammed Shami</li>
        <li>Noor Ahmad</li>
        <li>Sai Kishore</li>
        <li>Rashid Khan</li>
        <li>Joshua Little</li>
        <li>Mohit Sharma</li>
        <li>Azmatullah Omarzai</li>
        <li>Umesh Yadav</li>
        <li>Shahrukh Khan</li>
        <li>Sushant Mishra</li>
        <li>Kartik Tyagi</li>
        <li>Manav Suthar</li>
        <li>Spencer Johnson</li>
        <li>Robin Minz</li>
    </ul>
    <h3><a href="{%url 'home'%}">click</a> here for back to main menu</h3>
</body>

</html>
