<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPL Teams</title>
</head>

<body>

    <h1>IPL Teams</h1>

    <ul>
        <li><a href="{%url 'csk'%}">Chennai Super Kings</a></li>
        <li><a href="{%url 'dc'%}">Delhi Capitals</a></li>
        <li><a href="{%url 'kkr'%}">Kolkata Knight Riders</a></li>
        <li><a href="{%url 'mi'%}">Mumbai Indians</a></li>
        <li><a href="{%url 'pbsk'%}">Punjab Kings</a></li>
        <li><a href="{%url 'rr'%}">Rajasthan Royals</a></li>
        <li><a href="{%url 'rcb'%}">Royal Challengers Bangalore</a></li>
        <li><a href="{%url 'srh'%}">Sunrisers Hyderabad</a></li>
        <li><a href="{%url 'gt'%}">Gujarat Titans</a></li>
        <li><a href="{%url 'lsg'%}">Lucknow Super Giants</a></li>
    </ul>

</body>

</html>
