<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Players - IPL 2024</title>
</head>

<body>

    <h1>Team Players - IPL 2024</h1>

    <ul>
        <li>Nitish Rana</li>
        <li>Rinku Singh</li>
        <li>Rahmanullah Gurbaz</li>
        <li>Shreyas Iyer (c)</li>
        <li>Jason Roy</li>
        <li>Sunil Narine</li>
        <li>Suyash Sharma</li>
        <li>Anukul Roy</li>
        <li>Andre Russell</li>
        <li>Venkatesh Iyer</li>
        <li>Harshit Rana</li>
        <li>Vaibhav Arora</li>
        <li>Varun Chakaravarthy</li>
        <li>KS Bharat</li>
        <li>Chetan Sakariya</li>
        <li>Mitchell Starc</li>
        <li>Angkrish Raghuvanshi</li>
        <li>Ramandeep Singh</li>
        <li>Sherfane Rutherford</li>
        <li>Manish Pandey</li>
        <li>Mujeeb Ur Rahman</li>
        <li>Gus Atkinson</li>
        <li>Sakib Hussain</li>
    </ul>
    <h3><a href="{%url 'home'%}">click</a> here for back to main menu</h3>
</body>

</html>
