<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Players - IPL 2024</title>
</head>

<body>

    <h1>Team Players - IPL 2024</h1>

    <ul>
        <li>KL Rahul (c)</li>
        <li>Quinton de Kock</li>
        <li>Nicholas Pooran</li>
        <li>Ayush Badoni</li>
        <li>Kyle Mayers</li>
        <li>Marcus Stoinis</li>
        <li>Deepak Hooda</li>
        <li>Devdutt Padikkal</li>
        <li>Ravi Bishnoi</li>
        <li>Naveen-ul-Haq</li>
        <li>Krunal Pandya</li>
        <li>Yudhvir Singh</li>
        <li>Prerak Mankad</li>
        <li>Yash Thakur</li>
        <li>Amit Mishra</li>
        <li>Mark Wood</li>
        <li>Mayank Yadav</li>
        <li>Mohsin Khan</li>
        <li>K. Gowtham</li>
        <li>Shivam Mavi</li>
        <li>Arshin Kulkarni</li>
        <li>M. Siddharth</li>
        <li>Ashton Turner</li>
        <li>David Willey</li>
        <li>Mohd. Arshad Khan</li>
    </ul>
    <h3><a href="{%url 'home'%}">click</a> here for back to main menu</h3>
</body>

</html>
