<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Players - IPL 2024</title>
</head>

<body>

    <h1>Team Players - IPL 2024</h1>

    <ul>
        <li>Rohit Sharma</li>
        <li>Dewald Brevis</li>
        <li>Suryakumar Yadav</li>
        <li>Ishan Kishan</li>
        <li>N. Tilak Varma</li>
        <li>Tim David</li>
        <li>Vishnu Vinod</li>
        <li>Arjun Tendulkar</li>
        <li>Shams Mulani</li>
        <li>Nehal Wadhera</li>
        <li>Jasprit Bumrah</li>
        <li>Kumar Kartikeya</li>
        <li>Piyush Chawla</li>
        <li>Akash Madhwal</li>
        <li>Jason Behrendorff</li>
        <li>Romario Shepherd</li>
        <li>Hardik Pandya (c)</li>
        <li>Gerald Coetzee</li>
        <li>Dilshan Madushanka</li>
        <li>Shreyas Gopal</li>
        <li>Nuwan Thushara</li>
        <li>Naman Dhir</li>
        <li>Anshul Kamboj</li>
        <li>Mohammad Nabi</li>
        <li>Shivalik Sharma</li>
    </ul>
    <h3><a href="{%url 'home'%}">click</a> here for back to main menu</h3>
</body>

</html>
