<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Players - IPL 2024</title>
</head>

<body>

    <h1>Team Players - IPL 2024</h1>

    <ul>
        <li>Shikhar Dhawan (c)</li>
        <li>Matthew Short</li>
        <li>Prabhsimran Singh</li>
        <li>Jitesh Sharma</li>
        <li>Sikandar Raza</li>
        <li>Rishi Dhawan</li>
        <li>Liam Livingstone</li>
        <li>Atharva Taide</li>
        <li>Arshdeep Singh</li>
        <li>Nathan Ellis</li>
        <li>Sam Curran</li>
        <li>Kagiso Rabada</li>
        <li>Harpreet Brar</li>
        <li>Rahul Chahar</li>
        <li>Harpreet Bhatia</li>
        <li>Vidwath Kaverappa</li>
        <li>Shivam Singh</li>
        <li>Harshal Patel</li>
        <li>Chris Woakes</li>
        <li>Ashutosh Sharma</li>
        <li>Vishwanath Pratap Singh</li>
        <li>Shashank Singh</li>
        <li>Tanay Thyagarajann</li>
        <li>Prince Choudhary</li>
        <li>Rilee Rossouw</li>
    </ul>
    <h3><a href="{%url 'home'%}">click</a> here for back to main menu</h3>
</body>

</html>
