<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RCB Players - IPL 2024</title>
</head>

<body>

    <h1>RCB Players - IPL 2024</h1>

    <ul>
        <li>Faf du Plessis (c)</li>
        <li>Virat Kohli</li>
        <li>Glenn Maxwell</li>
        <li>Rajat Patidar</li>
        <li>Anuj Rawat</li>
        <li>Dinesh Karthik</li>
        <li>Mohammed Siraj</li>
        <li>Cam Green</li>
        <li>Will Jacks</li>
        <li>Suyash Prabhudessai</li>
        <li>Mahipal Lomror</li>
        <li>Karn Sharma</li>
        <li>Reece Topley</li>
        <li>Manoj Bhandage</li>
        <li>Mayank Dagar</li>
        <li>Vijaykumar Vyshak</li>
        <li>Akash Deep</li>
        <li>Himanshu Sharma</li>
        <li>Rajan Kumar</li>
    </ul>
    <h3><a href="{%url 'home'%}">click</a> here for back to main menu</h3>
</body>

</html>
