<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Players - IPL 2024</title>
</head>

<body>

    <h1>Team Players - IPL 2024</h1>

    <ul>
        <li>Sanju Samson (c)</li>
        <li>Jos Buttler</li>
        <li>Shimron Hetmyer</li>
        <li>Yashasvi Jaiswal</li>
        <li>Dhruv Jurel</li>
        <li>Riyan Parag</li>
        <li>Donovan Ferreira</li>
        <li>Kunal Rathore</li>
        <li>Ravichandran Ashwin</li>
        <li>Kuldeep Sen</li>
        <li>Navdeep Saini</li>
        <li>Prasidh Krishna</li>
        <li>Sandeep Sharma</li>
        <li>Trent Boult</li>
        <li>Yuzvendra Chahal</li>
        <li>Adam Zampa</li>
        <li>Avesh Khan</li>
        <li>Rovman Powell</li>
        <li>Shubham Dubey</li>
        <li>Tom Kohler-Cadmore</li>
        <li>Abid Mushtaq</li>
        <li>Nandre Burger</li>
    </ul>
    <h3><a href="{%url 'home'%}">click</a> here for back to main menu</h3>
</body>

</html>
