<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Players - IPL 2024</title>
</head>

<body>

    <h1>Team Players - IPL 2024</h1>

    <ul>
        <li>Abdul Samad</li>
        <li>Abhishek Sharma</li>
        <li>Aiden Markram (c)</li>
        <li>Marco Jansen</li>
        <li>Rahul Tripathi</li>
        <li>Washington Sundar</li>
        <li>Glenn Phillips</li>
        <li>Sanvir Singh</li>
        <li>Heinrich Klaasen</li>
        <li>Bhuvneshwar Kumar</li>
        <li>Mayank Agarwal</li>
        <li>T. Natarajan</li>
        <li>Anmolpreet Singh</li>
        <li>Mayank Markande</li>
        <li>Upendra Singh Yadav</li>
        <li>Umran Malik</li>
        <li>Nitish Kumar Reddy</li>
        <li>Fazalhaq Farooqi</li>
        <li>Shahbaz Ahmed</li>
        <li>Travis Head</li>
        <li>Wanindu Hasaranga</li>
        <li>Pat Cummins</li>
        <li>Jaydev Unadkat</li>
        <li>Akash Singh</li>
        <li>Jhathavedh Subramanyan</li>
    </ul>
    <h3><a href="{%url 'home'%}">click</a> here for back to main menu</h3>
</body>

</html>
